<h1>Listing posts</h1>

<ul id='posts'>
  <% @posts.each do |post| %>
    <li>Title: <%= post.title %>, URL: <%= post.url %>, Body: <%= post.body %></li>
     <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>

</ul>
      

<%= link_to 'New Post', new_post_path, id:'new_post', remote: true %>
